<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/15a2e4bbb7.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="body">
    <header class="header">
        <section class="header__section"> 
        <img src="/img/logo-mercado-liebre.svg" alt="">         
        <input class="header__section__buscador" type="text" placeholder="Buscar productos, marcas" required>
        <i id="lupa" class="fa-solid fa-magnifying-glass"></i>           
        <p class="p"><i class="fa-solid fa-hand-holding-dollar"></i>Compra en cuotas y sin tarjeta de credito</p>    
        <i id="header__burguer" class="fa-solid fa-bars"></i>
        <nav class="header__section__nav">
            <ul >
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
            <ul>
                <li><a href="/register">Crea tu cuenta</a><i class="fa-solid fa-id-card"></i></li>
                <li><a href="/login">Ingresa </a><i class="fa-solid fa-right-to-bracket"></i></li>
                <li><a href="">Mis compras </a><i class="fa-solid fa-basket-shopping"></i></li>
            </ul>
        </nav>
    </section>  
    </header>
    <main class="login__main">
        <h1>Ingresa a tu cuenta</h1>
        <section class="login__main__section">
           <form action="">
                <div class="form__box__barra">
                    
                    <input class="input" type="text" name="usuario" placeholder="Nombre y apellido">
                </div>
                <div class="form__box__barra">
                    <input class="input" type="password" name="contraseña" placeholder="Crear contraseña">
                </div>
                <div class="form__box__button">
                    <a href=""><button class="login__button" type="submit">Enviar</button></a>  
                </div>
           </form>
        </section>
        <section class = "main__section__info">
            <i id="logos" class="fa-solid fa-credit-card"></i>
            <h3>Paga con tarjeta o en efectivo</h3>
            <p>Con MercadoLiebreCash tenes descuentos sin interes con tarjeta o efectivo en puntos de pago ¡Y siempre es seguro!</p>
            <i id="logos" class="fa-solid fa-gift"></i>
            <h3>Envio gratis desde los $2500</h3>
            <p>Con MercadoLiebreCash tenes descuentos sin interes con tarjeta o efectivo en puntos de pago ¡Y siempre es seguro!</p>
                <i id="logos" class="fa-solid fa-user-shield"></i>
            <h3>Seguridad de principio a fin</h3>
            <p>Con MercadoLiebreCash tenes descuentos sin interes con tarjeta o efectivo en puntos de pago ¡Y siempre es seguro!</p>
        </section>
    </main>
</body>
</html>