:root{
    --colorAmarillo: #EAC926;
    --colorAzul: #03264C;
    --colorCeleste: #1259c3;
    --colorGrisOscuro: #666;
    --colorGrisClaro: #ebebeb;
    --colorVerde: #39b54a;
}
body{
    font-family: 'Roboto', sans-serif;
    max-width: 1180px;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}




a {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
}

ol, ul {
    padding: 0;
}

p{
    font-family: 'Roboto', sans-serif;
}
h3{
    font-family: 'Roboto', sans-serif;
    color: var(--colorGrisOscuro);
}